<header class="bar bar-nav bar-dark bg-primary">
  <a class="icon icon-rc icon-gear pull-right" role="button" href=""></a>
  <h1 class="title">홍길동 / 정보운영관리부</h1>
</header>

<div class="bar bar-standard bar-header-secondary bar-dark bg-primary">
  <h1 class="title">
    <span class="icon icon-dot-01"></span>
    안전관리시스템
  </h1>
</div>

<!-- Block button in standard bar fixed above the footer -->
<div class="bar bar-standard bar-footer-secondary">
  <ul class="table-view table-view-inverse" style="background-color: #3a444d;">
    <li class="table-view-cell">앱버전 <button class="btn btn-outline-secondary">업데이트</button></li>
  </ul>
</div>

<nav class="bar bar-tab bar-dark" style="background-color: #3a444d;">
  <a class="tab-item" role="button" href="">
    현재버전 00.00
  </a>
  <a class="tab-item" role="button" href="">
    최신버전 00.00
  </a>
</nav>

<div class="content">
  <div class="content-padded">
    준비중 입니다.
  </div>
</div>
