<header class="bar bar-nav bar-dark bg-primary">
  <a class="icon icon-power-off pull-right" role="button" href=""></a>
  <h1 class="title">홍길동 / 정보운영관리부</h1>
</header>

<div class="bar bar-standard bar-header-secondary bar-dark bg-primary p-x-0">
  <h1 class="title">
    안전관리시스템
  </h1>
</div>


<div class="bar bar-standard bar-footer bar-dark p-x-0" style="background-color: #3a444d">
  <ul class="table-view  table-view-inverse m-b-0" style="background-color: #3a444d">
    <li class="table-view-cell">
      <a class="navigate-right">
        <img class="media-object pull-left" src="../assets/img/sm-side-05.png" style="height: 1.21875rem">
        <div class="media-body">
          환경설정
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="content bg-white">
  <ul class="table-view" id="tree">
    <li class="table-view-cell">
      <a class="navigate-updown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#1">
        <img class="media-object pull-left" src="../assets/img/sm-side-01.png" style="height: .8125rem;margin-left: -.1875rem;margin-top:.25rem">
        <div class="media-body">
          안전점검
        </div>
      </a>
      <ul class="table-view collapse" id="1">
        <li class="table-view-cell">
          <a href="">
            안전점검
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            가스시설
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            소방시설
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            고위험제거활동
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            유해위험기구
          </a>
        </li>
      </ul>
    </li>
    <li class="table-view-cell">
      <a class="navigate-updown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#2">
        <img class="media-object pull-left" src="../assets/img/sm-side-02.png" style="height: 1.1875rem">
        <div class="media-body">
          시설/작업확인
        </div>
      </a>
      <ul class="table-view collapse" id="2">
        <li class="table-view-cell">
          <a href="">
            검색
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            작업자조회목록
          </a>
        </li>
      </ul>
    </li>

    <li class="table-view-cell">
      <a class="navigate-updown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#3">
        <img class="media-object pull-left" src="../assets/img/sm-side-03.png" style="height: 1.28125rem;margin-left: -.1875rem">
        <div class="media-body">
          비상대피로
        </div>
      </a>
      <ul class="table-view collapse" id="3">
        <li class="table-view-cell">
          <a href="">
            검색
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            검색결과
          </a>
        </li>
      </ul>
    </li>

    <li class="table-view-cell">
      <a class="navigate-updown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#4">
        <img class="media-object pull-left" src="../assets/img/sm-side-04.png" style="height: 1.21875rem">
        <div class="media-body">
          안전자료실
        </div>
      </a>
      <ul class="table-view collapse" id="4">
        <li class="table-view-cell">
          <a href="">
            관리표준
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            기술표준
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="nav nav-control content-padded">
    <a class="nav-link active" role="button">QR CODE</a>
    <a class="nav-link" role="button">NFC CODE</a>
  </div>


  <div class="card card-full hd-widget-02">
    <div class="card-header">
      <a href="" class="btn btn-link">More</a>
      푸시알람목록
    </div>
    <ul class="table-view table-view-full m-a-0">
      <li class="table-view-cell">
        [안전] 복장불량 점검등록되었습니다.
      </li>
      <li class="table-view-cell">
        [법정] 12345636 저장탱크  점검등
      </li>
      <li class="table-view-cell">
        [유해] DJ121-M02-005 크레인 조정크레인 조정크레인 조정
      </li>
    </ul>
  </div>




</div>
