<header class="bar bar-nav bg-white">
  <a class="icon icon-close pull-right" data-dismiss="modal" role="button"></a>
  <h1 class="title">담당자 검색</h1>
</header>

<div class="bar bar-standard bar-header-secondary bg-white hd-search">
  <form>
    <div class="input-group input-group-lg">
      <span class="input-group-addon input-group-select">
        <select>
          <option>전체</option>
          <option>성명</option>
          <option>부서명</option>
        </select>
      </span>
      <input type="search" class="form-control" placeholder="이름 또는 부서명 검색" id="search_input">
    </div>

  </form>
</div>

<div class="content bg-white">
  <div class="card card-full" style="margin-top: -1px">
    <ul class="table-view table-view-full">
      <li class="table-view-cell">
        <a data-name="이나경" data-code="1270">
          [1270] 이나경
          <div class="hd-meta clearfix m-t-05">
            <span class="badge badge-default badge-inverted pull-left">특수강소형정비팀</span>
            <span class="badge badge-default badge-inverted pull-right">6급사원</span>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a data-name="홍길동" data-code="1280">
          [1270] 홍길동
          <div class="hd-meta clearfix m-t-05">
            <span class="badge badge-default badge-inverted pull-left">특수강소형정비팀</span>
            <span class="badge badge-default badge-inverted pull-right">6급사원</span>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a data-name="이나경" data-code="1270">
          [1270] 이나경
          <div class="hd-meta clearfix m-t-05">
            <span class="badge badge-default badge-inverted pull-left">특수강소형정비팀</span>
            <span class="badge badge-default badge-inverted pull-right">6급사원</span>
          </div>
        </a>
      </li>
    </ul>
    <div class="card-footer hd-infinite-scroll" role="button">
      20명씩 더 보기 (1/20)
    </div>
  </div>

</div>
