<header class="bar bar-nav bar-light bg-faded">
  <a class="icon icon-close pull-right" data-dismiss="modal" role="button"></a>
  <h1 class="title">업체 또는 부서 검색</h1>
</header>

<div class="bar bar-standard bar-header-secondary">
  <form>
    <input type="search" class="form-control" placeholder="팀명을 입력해주세요.">
  </form>
</div>

<div class="content">
  <div class="content-padded">
    <div>총 <span class="text-primary">25</span>개 결과목록</div>
  </div>

  <div class="card card-full">
    <ul class="table-view">
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1270"><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1270</span> 냉품질보증팀</a></li>
      <li class="table-view-cell"><a ><span class="badge badge-pill">1280</span> 운영팀</a></li>
    </ul>
    <div class="card-footer text-muted text-xs-center" role="button">
      10개씩 더 보기 (1/20)
    </div>
  </div>

</div>


<script type="text/javascript">

$('#U_SM_E10000 .table-view-cell a').tap(function(){
  $('#U_SM_E10000').modal('hide');


  var cell = $(event.relatedTarget) // Button that triggered the modal
  var team_name = cell.data('name') // Extract info from data-* attributes

  .find('#team').val(team_name)

});

</script>
