<header class="bar bar-nav bar-light bg-faded">
  <a class="icon icon-close pull-right" data-dismiss="modal" role="button"></a>
  <h1 class="title">업체 또는 부서 검색</h1>
</header>
<div class="content">
  <div class="content-padded">
    <p>
      </p><div class="input-group hd-search-filter">
        <input type="text" class="form-control" placeholder="팀명을 입력해주세요.">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">조회</button>
        </span>
      </div>
    <p></p>

    <div>총 <span class="text-primary">25</span>개 결과목록</div>
  </div>

  <div class="card card-full">
    <ul class="table-view">
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1280] (운영팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1280] (운영팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1280] (운영팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1280] (운영팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a >[1280] (운영팀)</a></li>
      <li class="table-view-cell"><a >[1270] (냉품질보증팀)</a></li>
    </ul>
    <div class="card-footer text-muted text-xs-center" role="button">
      10개씩 더 보기 (1/20)
    </div>
  </div>

</div>
