<header class="bar bar-nav bg-white">
  <a class="icon icon-close pull-right" data-dismiss="modal" role="button"></a>
  <h1 class="title">업체 또는 부서 검색</h1>
</header>

<div class="bar bar-standard bar-header-secondary bg-white hd-search">
  <form>
    <input type="search" class="form-control" placeholder="팀명을 입력해주세요." id="search-input">
  </form>
</div>

<div class="content bg-white">
  <div class="card card-full" style="margin-top: -1px">
    <ul class="table-view">
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
      <li class="table-view-cell"><a data-name="냉품질보증팀" data-code="1280">[1280] (냉품질보증팀)</a></li>
      <li class="table-view-cell"><a data-name="운영팀" data-code="1270">[1270] (운영팀)</a></li>
    </ul>
    <div class="card-footer hd-infinite-scroll" role="button">
      20개씩 더 보기 (1/20)
    </div>
  </div>

</div>
