<header class="bar bar-nav bar-dark bg-primary">
  <a class="icon icon-logout pull-right" role="button" href=""></a>
  <h1 class="title">[차량번호] 운송사A</h1>
</header>

<div class="bar bar-standard bar-header-secondary bar-dark bg-primary p-x-0">
  <h1 class="title">
    외주사관리
  </h1>
</div>

<div class="content">
  <ul class="table-view" >
    <li class="table-view-cell">
      <a class="navigate-right" href="">
        장비 종합 현황
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-right" href="">
        장비점검 확인
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-right" href="">
        운전원 점검 확인
      </a>
    </li>
  </ul>
</div>
