<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">운송회사코드</h1>
  </header>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded">
      <table class="table table-bordered">
        <tbody>
          <tr data-value="01" data-label="운송회사명1">
            <td>[코드1]</td>
            <td>운송회사명1</td>
          </tr>
          <tr data-value="02" data-label="운송회사명2">
            <td>[코드2]</td>
            <td>운송회사명2</td>
          </tr>
          <tr data-value="03" data-label="운송회사명3">
            <td>[코드3]</td>
            <td>운송회사명3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
