<header class="bar bar-nav bar-dark bg-primary">
  <a class="icon icon-power-off pull-right" role="button" href=""></a>
  <h1 class="title">홍길동 / 정보운영관리부</h1>
</header>

<div class="bar bar-standard bar-header-secondary bar-dark bg-primary p-x-0">
  <h1 class="title">
    일괄생산시스템
  </h1>
</div>


<div class="content bg-white">
  <ul class="table-view" id="tree">
    <li class="table-view-cell">
      <a class="">
        <img class="media-object pull-left" src="../assets/img/fm-side-00.png" style="height: 1.0125rem;margin-left: -.1875rem;margin-top:0">
        <div class="media-body">
          홈
        </div>
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-rightdown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#1">
        <img class="media-object pull-left" src="../assets/img/fm-side-01.png" style="height: 1.1125rem;margin-left: -.1875rem;margin-top:0">
        <div class="media-body">
          배합
        </div>
      </a>
      <ul class="table-view collapse" id="1">
        <li class="table-view-cell">
          <a href="" class="spacing-m1">
            저장고 Map 재고
          </a>
        </li>
        <li class="table-view-cell">
          <a href="" class="spacing-m1">
            배합 적치 실적 조회(층별)
          </a>
        </li>
        <li class="table-view-cell">
          <a href="" class="spacing-m1">
            배합 기준 원료 Brand 성분 관리
          </a>
        </li>
      </ul>
    </li>
    <li class="table-view-cell">
      <a class="navigate-rightdown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#2">
        <img class="media-object pull-left" src="../assets/img/fm-side-02.png" style="height: 1.0125rem;margin-left: -.1875rem;margin-top:.0">
        <div class="media-body">
          원료
        </div>
      </a>
      <ul class="table-view collapse" id="2">
        <li class="table-view-cell">
          <a href="">
            메뉴1
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            메뉴2
          </a>
        </li>
      </ul>
    </li>

    <li class="table-view-cell">
      <a class="navigate-rightdown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#3">
        <img class="media-object pull-left" src="../assets/img/fm-side-03.png" style="height: 1.0125rem;margin-left: -.1875rem;margin-top:0">
        <div class="media-body">
          고로
        </div>
      </a>
      <ul class="table-view collapse" id="3">
        <li class="table-view-cell">
          <a href="">
            메뉴1
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            메뉴2
          </a>
        </li>
      </ul>
    </li>

    <li class="table-view-cell">
      <a class="navigate-rightdown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#4">
        <img class="media-object pull-left" src="../assets/img/fm-side-04.png" style="height: 1.0125rem;margin-left: -.1875rem;margin-top:0">
        <div class="media-body">
          코크스&화성
        </div>
      </a>
      <ul class="table-view collapse" id="4">
        <li class="table-view-cell">
          <a href="">
            메뉴1
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            메뉴2
          </a>
        </li>
      </ul>
    </li>
    <li class="table-view-cell">
      <a class="navigate-rightdown collapsed" data-toggle="collapse" data-parent="#tree" data-target="#5">
        <img class="media-object pull-left" src="../assets/img/fm-side-05.png" style="height: 1.0125rem;margin-left: -.1875rem;margin-top:0">
        <div class="media-body">
          소결&소성
        </div>
      </a>
      <ul class="table-view collapse" id="5">
        <li class="table-view-cell">
          <a href="">
            메뉴1
          </a>
        </li>
        <li class="table-view-cell">
          <a href="">
            메뉴2
          </a>
        </li>
      </ul>
    </li>
  </ul>

</div>
