<ul class="table-view">
  <li class="table-view-divider">My Drawer</li>
  <li class="table-view-cell">Item 1</li>
  <li class="table-view-cell">Item 2</li>
  <li class="table-view-cell">Item 3</li>
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge badge-pill">5</span>
      Item 4
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge badge-pill">5</span>
      Item 5
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge badge-pill">5</span>
      Item 6
    </a>
  </li>
</ul>

<p class="content-padded">
  <button type="button" class="btn btn-secondary btn-block" data-history="back">Close</button>
</p>
