<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">조회년월</h1>
  </header>
  <div class="bar bar-standard bar-header-secondary bg-white" style="border-bottom: none">
  <div class="nav nav-control">
    <a class="nav-link hd-button-prev" role="button">◀</a>
    <a class="nav-link active swiper-pagination" role="button"></a>
    <a class="nav-link hd-button-next" role="button">▶</a>
  </div>
</div>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content" style="padding-top: 6.35rem">
    <div class="content-padded-x">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide" role="button">
            <table class="table table-bordered hd-data m-t-0">
              <tbody>
                <tr>
                  <td class="text-xs-center" data-label="2015.01">1월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.02">2월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.03">3월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.04">4월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.05">5월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.06">6월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.07">7월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.08">8월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.09">9월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.10">10월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.11">11월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2015.12">12월</td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.swiper-slide -->

          <div class="swiper-slide" role="button">
            <table class="table table-bordered hd-data m-t-0">
              <tbody>
                <tr>
                  <td class="text-xs-center" data-label="2016.01">1월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.02">2월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.03">3월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.04">4월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.05">5월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.06">6월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.07">7월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.08">8월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.09">9월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.10">10월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.11">11월</td>
                </tr>
                <tr>
                  <td class="text-xs-center" data-label="2016.12">12월</td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.swiper-slide -->

        </div><!-- /.swiper-wrapper -->
      </div><!-- /.swiper-container -->

    </div>
  </div>
</div>


<script>

  // Initialize Swiper
  var swiper = new Swiper('.swiper-container', {

    nextButton: '.hd-button-next',
    prevButton: '.hd-button-prev',
    loop: false,
    autoHeight: true,
    pagination: '.swiper-pagination',
    paginationType: 'fraction',

    paginationFractionRender: function (swiper, currentClassName, totalClassName) {
      var title;
      if (index === 0) title = '2014년';
      if (index === 1) title = '2015년'
      if (index === 2) title = '2016년'
      return '<span>'+title+'</span>';
    }

  });


</script>
