<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">Pile No 선택</h1>
  </header>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td data-value="01" data-label="Pile 1">Pile 1</td>
          </tr>
          <tr>
            <td data-value="02" data-label="Pile 2">Pile 2</td>
          </tr>
          <tr>
            <td data-value="03" data-label="Pile 3">Pile 3</td>
          </tr>
          <tr>
            <td data-value="04" data-label="Pile 4">Pile 4</td>
          </tr>
          <tr>
            <td data-value="05" data-label="Pile 5">Pile 5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
