<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">Item 선택</h1>
  </header>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded">
      <table class="table table-bordered hd-data">
        <thead>
          <th>Item</th>
          <th>Brand</th>
        </thead>
        <tbody>
          <tr data-value="01" data-label="R80A22 / MTNS">
            <td class="text-xs-center">R80A22</td>
            <td class="text-xs-center">MTNS</td>
          </tr>
          <tr data-value="01" data-label="R80A23 / KOMS">
            <td class="text-xs-center">R80A23</td>
            <td class="text-xs-center">KOMS</td>
          </tr>
          <tr data-value="01" data-label="R80A24 / ASMS">
            <td class="text-xs-center">R80A24</td>
            <td class="text-xs-center">ASMS</td>
          </tr>
          <tr data-value="01" data-label="R80A31 / PILS">
            <td class="text-xs-center">R80A31</td>
            <td class="text-xs-center">PILS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
