<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">시간선택</h1>
  </header>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td data-label="00시">00시</td>
          </tr>
          <tr>
            <td data-value="01" data-label="01시">01시</td>
          </tr>
          <tr>
            <td data-value="02" data-label="02시">02시</td>
          </tr>
          <tr>
            <td data-label="03시">03시</td>
          </tr>
          <tr>
            <td data-label="04시">04시</td>
          </tr>
          <tr>
            <td data-label="05시">05시</td>
          </tr>
          <tr>
            <td data-label="06시">06시</td>
          </tr>
          <tr>
            <td data-label="07시">07시</td>
          </tr>
          <tr>
            <td data-label="08시">08시</td>
          </tr>
          <tr>
            <td data-label="09시">09시</td>
          </tr>
          <tr>
            <td data-label="10시">10시</td>
          </tr>
          <tr>
            <td data-label="11시">11시</td>
          </tr>
          <tr>
            <td data-label="12시">12시</td>
          </tr>
          <tr>
            <td data-label="13시">13시</td>
          </tr>
          <tr>
            <td data-label="14시">14시</td>
          </tr>
          <tr>
            <td data-label="15시">15시</td>
          </tr>
          <tr>
            <td data-label="16시">16시</td>
          </tr>
          <tr>
            <td data-label="17시">17시</td>
          </tr>
          <tr>
            <td data-label="18시">18시</td>
          </tr>
          <tr>
            <td data-label="19시">19시</td>
          </tr>
          <tr>
            <td data-label="20시">20시</td>
          </tr>
          <tr>
            <td data-label="21시">21시</td>
          </tr>
          <tr>
            <td data-label="22시">22시</td>
          </tr>
          <tr>
            <td data-label="23시">23시</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
