<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">근 구분</h1>
  </header>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td data-value="01" data-label="전체">전체</td>
          </tr>
          <tr>
            <td data-value="02" data-label="1근">1근</td>
          </tr>
          <tr>
            <td data-value="03" data-label="2근">2근</td>
          </tr>
          <tr>
            <td data-value="04" data-label="3근">3근</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
