<div class="popup-content">
  <header class="bar bar-nav content-padded-x bg-white">
    <h1 class="title">조회년월</h1>
  </header>
  <div class="bar bar-standard bar-header-secondary bg-white" style="border-bottom: none">
  <div class="nav nav-control">
    <a class="nav-link" role="button">◀</a>
    <a class="nav-link active" role="button">2016</a>
    <a class="nav-link" role="button">▶</a>
  </div>
</div>
  <nav class="bar bar-tab">
  <a class="tab-item bg-secondary" role="button" data-history="back">
    닫기
  </a>
</nav>
  <div class="content">
    <div class="content-padded-x">
      <table class="table table-bordered hd-data">
        <tbody>
          <tr>
            <td class="text-xs-center" data-label="2016.01">1월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.02">2월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.03">3월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.04">4월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.05">5월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.06">6월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.07">7월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.08">8월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.09">9월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.10">10월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.11">11월</td>
          </tr>
          <tr>
            <td class="text-xs-center" data-label="2016.12">12월</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
