@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 26px;
  }
}


.bg-sky {
  background-color: #d5e6ff
}

.form-control[readonly] {
  background-color: #fff;
}

.bar-header-secondary {
  height: 3.5625rem;
  line-height: 3.5625rem;
  border-bottom: .0625rem solid #d8dce2;
}
.bar-header-secondary .form-inline {
  line-height: inherit
}
.bar-header-secondary .form-inline label {
  margin-bottom: 0;
  color: #626470;
}
.bar-header-secondary .form-inline input {
  margin-left: .3rem
}

.bar-header-secondary .form-inline .btn {
  position: static;
  display: inline-block;
  top:auto;
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 .75rem;
  font-size: 1rem;
  background-color: #3a444d !important;
  border-color: #3a444d !important;
  border-radius: 0
}
.bar-header-secondary .form-inline .btn:active {
  background-color: #000 !important
}

.nav-control .nav-link {
  position: relative;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1rem;
  line-height: 1rem;
  border-left: none;
  background-color: #fff;
  color: #626470 !important
}
.nav-control .nav-link.active {
  color: #1c74d5 !important
}

.nav-control .nav-link.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1875rem;
  background-color: #0275d8;
  content: '';
}

.bar-header-secondary {
  text-align: center;
  line-height: 3.5625rem;
}

@media (max-width: 640px) {
  .bar-header-secondary {
    line-height: 2.5625rem;
  }
  .bar-header-secondary {
    text-align: left;
    line-height: 2.5rem;
  }
  .form-inline  {
    text-align: center;
    vertical-align: middle;
  }
  .form-inline .form-group {
    line-height: 2.5rem;
  }
}

.bar-header-secondary.hd-normal {
  height: 2.75rem !important;
}
.bar-header-secondary.hd-normal .nav-inline .nav-link.active:after {
  height: .1875rem;
}

.form-inline .form-group,
.form-inline .form-group label,
.form-inline .btn {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .btn {
  /*margin-top: .4rem;*/
  margin-left: .5rem
}



.bar-header-secondary .btn {
  top: 0;
  line-height: 1rem;
}
.bar-header-secondary ~ .content {
    padding-top: 6.36rem;
}
.snap-drawer .bar-header-secondary ~ .content {
    padding-top: 5.1rem;
}

.content .nav-control {
  margin-top: -.0625rem;
  border-left: none;
  border-right: none
}


/*table*/

.table.hd-data {
  margin-top: .5rem;
  margin-bottom: 0;
  background-color: #fff
}
.hd-data.table-bordered {
  border: 0.0625rem solid #b4b8c4;
}
.hd-data.table-bordered thead th,
.hd-data.table-bordered thead td {
  border-bottom-width: 0.0625rem;
  border-color: #b4b8c4;
  vertical-align: middle;
}
.hd-data.table-bordered td {
  border: 0.0625rem solid #d8dce2;
}
.hd-data.table-bordered th, .table-bordered td {
  border: 0.0625rem solid #d8dce2;
}
.hd-data.table th {
  background-color: #d4d6e4;
  text-align: center;
  color: #626470;
  vertical-align: middle !important;
  white-space: nowrap;
}

.hd-data.table thead ~ thead tr {
  border-top: 0.0625rem solid #b4b8c4 !important;
}
.hd-data.table thead ~ thead th {
  background-color: #f0f4fb;
  border-color: #b4b8c4
}

.hd-data.table tbody td {
  /*background-color: #fff;*/
  text-align: right;
  vertical-align: middle;
  min-width: 4.5rem;
}
.hd-data.table .bg-white th {
  /*background-color: #fff;*/
  color: #333
}
.hd-data.table th,
.hd-data.table td {
  padding: 0.75rem 0.75rem ;
  vertical-align: top;
  border-top: 0.0625rem solid #eceeef;
  font-weight: normal;
}
.hd-data.hd-sm.table th,
.hd-data.hd-sm.table td {
  padding: 0.4rem 0.4rem ;
  min-width: 3rem;
}

.hd-data.table tr.table-active td {
  background-color: #f0f4fb;
  text-align: center;
}
.hd-data.table tr.table-active.text-xs-right td {
  text-align: right;
}
.hd-data.table [scope="row"] {
  border-right: .0625rem solid #b4b8c4;
  border-bottom: .0625rem solid #b4b8c4
}

.hd-data.table tr [scope="row"] ~ [scope="row"] {
  border-left: none;
  border-right: none;
  border-bottom: .0625rem solid #b4b8c4;
}

.hd-data.table .hd-time td {
  text-align: center;
  font-size: .9rem;
}
.hd-data.table tr.text-xs-center td {
  text-align: center !important
}
.hd-data.table td small {
  white-space: nowrap;
  letter-spacing: -.0625rem
}

.hd-data.table tbody tr {
  counter-increment: Serial;
}
.hd-data.table tbody th.hd-serial:before {
  content: counter(Serial); /* Display the counter */
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f0f4fb;
}
.hd-data.table .bg-white th,
.hd-data.table .bg-white td {
  background-color: #fff
}

.hd-data.table tbody[data-toggle="modal"]:active,
.hd-data.table tbody[data-toggle="modal"]:focus {
  border: .125rem solid #74a9e3
}
.hd-data.table tbody[data-toggle="modal"]:active th,
.hd-data.table tbody[data-toggle="modal"]:active td {
  background-color: #f4f8fd !important
}

/*table-view*/
.hd-data .table-view-cell .badge-inverted {
  font-size: 1rem;
  font-weight: normal;
}
.table-view-info,
.table-view-info > table-view-cell {
    background-color: #f0f4fb;
}
.hd-data.card {
  margin: .625rem !important
}

/*popup*/
@media (max-width: 640px) {
  ..hd-datapopup .content {
    min-height: 100px;
    max-height: 300px;
  }
}
.popup .bar.bar-nav {
  border-bottom: .0625rem solid #000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.popup .table td {
  text-align: center;
}
.popup .table tr:active {
  background-color: #f4f8fd;
  border: .125rem solid #74a9e3
}

@media (max-width: 580px) {
  .popup.popup-sm .content {
    max-height: 300px;
  }
}
.popup .tab-item.bg-secondary {
  background-color: #848896;
  color: #fff !important
}
.popup .nav-control .nav-link.active {
  color: #333 !important;
  font-weight: 700
}
.popup .nav-control .nav-link.active:after {
  height: 0;
}

/*bar-tab*/
.bar-tab .tab-item {
  color: #999 !important;
}
.bar-tab .tab-item.active {
  color: #fff !important;
}

/*form-control*/
.form-control.hd-md {
  width: 230px
}
.form-control.hd-sm {
  width: 130px
}

@media (max-width: 640px) {
  .form-control.hd-md {
    width: 155px
  }
  .form-control.hd-sm {
    width: 80px
  }
}

.form-control[data-toggle="popup"] {
  background-image:
    linear-gradient(45deg, transparent 50%, #848995 50%),
    linear-gradient(135deg, #848995 50%, transparent 50%),
    linear-gradient(to right, #fff, #fff);
  background-position:
    calc(100% - 1.25rem) calc(1em + .125rem),
    calc(100% - .9375rem) calc(1em + .125rem),
    calc(100% - 2.5rem) .5rem;
  background-size:
    .3125rem .3125rem,
    .3125rem .3125rem,
    .0625rem 1.5em;
  background-repeat: no-repeat;
  text-align: left;
}

/*utility*/

.text-black {
  color: #333 !important
}

.m-l-default {
  margin-left: .625rem
}
.m-r-default {
  margin-right: .625rem
}
.m-x-default {
  margin-left: .625rem;
  margin-right: .625rem
}
.m-t-default {
  margin-top: .625rem
}
.m-b-default {
  margin-bottom: .625rem
}
.m-y-default {
  margin-top: .625rem;
  margin-bottom: .625rem
}


/*원료 Bin card */
.hd-bin > .card-header {
  padding: 0.6rem .625rem;
  border-bottom: none;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.hd-bin > .card-header h3,
.hd-bin > .card-header small {
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 0 0%;
  flex: 1 0 0% !important;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
.hd-bin > .card-header h3 {
  font-weight: 700
}
.hd-bin > .card-header small {
  padding-top: .3rem;
  text-align: right;
  align-items: center;
  line-height: 1.3rem
}

.hd-bin > .card-block {
  margin: 0 .625rem .625rem;
  padding: .3rem;
  line-height: 1.5rem;
  border-top: .0625rem solid #d8dce2;
  border-bottom: .0625rem solid #d8dce2;
}
.hd-bin > .card-block:before {
  padding-right: .312rem;
  font-family: 'icomoon' !important;
  content: "\e900";
  color: #626470;
}

.hd-bin .card-deck-wrapper {
  padding: .625rem
}
.hd-bin .card-deck {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -0.2rem;
  margin-bottom: 0.75rem;
  margin-left: -0.2rem;
}
.hd-bin .card-deck .card {
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 0 0%;
  flex: 1 0 0% !important;
  border: none;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-bottom: 0;
  margin-left: 0.2rem;
}
.hd-bin .card-deck .card .card-media-wrap {
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
  background-color: #eaeaea;
  border-radius: .25rem;
}

.hd-bin .card-deck .card .media ~ .media {
  padding-top: .9375rem;
  border-top: .0625rem solid #dadada;
  margin-top: .5rem
}
.hd-bin .media-left {
  width: 2.5rem
}
.hd-bin .media-object {
  margin-top: .625rem;
  margin-left: -.8rem
}
.hd-bin .media-body {
  margin-left: -1.5625rem;
  padding-top: 0;
  padding-right: .3125rem;
  color: #616874;
  font-size: 1rem;
  letter-spacing: -.0625rem;
  line-height: 1.2rem
}

@media (min-width: 544px) {
  .hd-bin .media-object {
    margin-top: 1.25rem;
    margin-left: -.625rem
  }
  .hd-bin .media-body {
    padding-top: 0;
    padding-right: .625rem;
    font-size: 1.4rem;
    line-height: 1.8rem
  }
}

.hd-bin .card-deck ~ .card-deck {
  margin-top: 2rem
}

.hd-bin .card-deck .card .card-block {
  margin-top: .3rem;
  padding: 0;
  line-height: 2.5rem;
  text-align: center;
  border-top: none;
  background-color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hd-bin .card-deck .card .card-header {
  background-color: #fff;
  padding: 0  0 .5rem;
  line-height: 1rem;
  border-bottom: none;
  text-align: center;
  color: #626470
}
.hd-bin .card-deck .card .card-footer {
  padding: .3rem 0;
  background-color: #fff;
  line-height: 1rem;
  border-top: none;
  text-align: center;
  color: #626470
}

/*vertical progress*/
.progress.progress-vertical {
  -webkit-transform: rotate(270deg);
  height: 1rem;
  width: 3.5rem;
}

@media (min-width: 544px) {
  .progress.progress-vertical {
    height: 2rem;
    width: 4.5rem;
  }
}

.progress.progress-vertical[value]::-webkit-progress-bar{
  background: #fff !important;
  border-radius:2rem 2rem 2rem 2rem;
  border:none
}
.progress.progress-vertical[value]::-webkit-progress-value{
  border-radius: 2rem 0 0 2rem;
  -webkit-animation: load 3s ease 1s forwards;
}
.progress.progress-vertical[value="100"]::-webkit-progress-value{
  border-radius: 2rem 2rem 2rem 2rem;
}
.progress-striped[value]::-webkit-progress-value {
  background-size: .5rem .5rem;
}
.progress[value]::-ms-fill {
  background-color: #4c81d6;
}
.progress[value]::-moz-progress-bar {
  background-color: #4c81d6;
}
.progress[value]::-webkit-progress-value {
  background-color: #4c81d6;
}
.progress-warning[value]::-webkit-progress-value {
  background-color: #ef811f;
}
.progress-warning[value]::-moz-progress-bar {
  background-color: #ef811f;
}
.progress-warning[value]::-ms-fill {
  background-color: #ef811f;
}

/*hd-floating*/
#floating-top .btn:focus,
#floating-top .btn:active {
  outline: none;
  background-color: #eee
}
#floating-top .btn img {
  width: 22px
}

.nav-control .nav-link.hd-button-prev.swiper-button-disabled,
.nav-control .nav-link.hd-button-next.swiper-button-disabled {
  color: #ccc !important;
}
.hd-button-prev.swiper-button-disabled:active,
.hd-button-next.swiper-button-disabled:active {
  background-color: #fff;
}


/*drawer*/
.snap-drawer .table-view .table-view .table-view-cell {
  padding-right: 2.0625rem
}
.snap-drawer .table-view .table-view .table-view-cell a {
  margin-right: -2.0625rem
  font-size: .92rem;
  letter-spacing: -.0625rem
}
