.sm-main .bar-footer {
  background-color: transparent;;
  border-top: none
}

.sm-main .content {
  background-image: url("../img/sm-main-bg.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.hd-login.sm-login .content {
  background-image: url(../img/login-sm-bg.png);
}

.hd-login.sm-login .card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px
}
