.bar-header-secondary {
  text-align: center;
  line-height: 3.2rem;
}

tr[role="button"]:active {
  background-color: #f4f8fd;
  border: .125rem solid #74a9e3;
}
.hd-data.table td.table-active {
  background-color: #f0f4fb;
}

.form-control.hd-sm {
    width: 100px;
}

.table select.form-control {
  min-width: 100px;
  margin: -.75rem;
  margin-right: -20px;
  display: inline-block;
  border: none;
}
.table select.form-control.hd-custom {
  border: 0.0625rem solid rgba(0, 0, 0, 0.15);
  width: 9rem;
  margin: -.3rem 0 -.3rem -.3rem
}


.table input.form-control {
  min-width: 100px;
  margin: -.3rem -.4rem ;
  display: inline-block;
  border: none;
}

@media (max-width: 640px){
.form-control.hd-sm {
    width: 100px;
  }
  .table select.form-control {
    margin-right: -.75rem;
  }
}

.bar-header-secondary .form-inline .btn-secondary {
  background-color: #848a96 !important;
  border-color: #848a96 !important;
}
