.sm-main .bar-footer {
  background-color: transparent;;
  border-top: none
}

.sm-main .content {
  background-image: url("../img/sm-main-bg.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.hd-login.sm-login .content {
  background-image: url(../img/login-sm-bg.png);
}

.hd-login.sm-login .card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px
}

.hd-login.sm-login.active .card {
  box-shadow: none;
  border-radius: 0
}


.card .table-view-full {
  margin-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem
}
.card .table-view-full .table-view-cell {
  padding-left: 4.0625rem;
  padding-right: 4.0625rem
}
.card .table-view-full .table-view-cell a {
  margin-left: -4.0625rem;
  margin-right: -4.0625rem;
  text-align: center;
}

.card .table-view-full .table-view-cell a.collapsed::before {
  content: "상세정보 등록"
}
.card .table-view-full .table-view-cell a::before {
  content: "간단정보 등록"
}


.card.hd-search-result .card-block .card-block-inner {
    padding: .4375rem .3125rem;
    border-top: 1px dotted #d8dce2;
    border-bottom: 1px solid #d8dce2;
}


.hd-data-none {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #9a9eac
}

.hd-data-none img {
  height: 49px
}
.hd-data-none span {
  display: block;
  margin-top: 1rem
}

.btn-info {
  color: #fff;
  background-color: #3a444d;
  border-color: #3a444d;
}


.card {
  margin: .625rem;
}

.card .list-inline .list-inline-item + .list-inline-item::before {
  padding-right: .3125rem;
  content: "|";
  color: #d8dce2;
}

.card.hd-complete,
.card.hd-complete .card-header,
.card.hd-complete .table-view {
  background-color: transparent;
}


.nav-control {
  font-size: .95rem;
  font-weight: 400;
  background-color: #fff;
  border: 0.0625rem solid #bec2ce;
  border-radius: 0;
  border-bottom: none;
  border-left: none;
  border-right: none
}
.nav-control .nav-link {
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  overflow: hidden;
  line-height: 1;
  background-color: #fff;
  color: #626470;
  border-left: 0.0625rem solid #bec2ce;
}
.nav-control .nav-link.active {
  background-color: #1c74d5;
  color: #fff !important;
}

.affix.nav-control {
  z-index: 9;
  border-bottom: 1px solid #bec2ce
}

/*hd-attach*/
.hd-attach .media-object {
  height: 19px
}
.hd-attach .media a,
.hd-attach .media a:active,
.hd-attach .media a:focus {
  color: #1c74d5
}

/*hd-label*/
.hd-label .btn {
  position: relative;
  margin-bottom: .5rem;
  padding-left: 1rem;
  background-color: #d5e6ff;
  text-align: left;
}
.hd-label .btn-block .badge {
  position: absolute;
  top:2px;
  bottom:0;
  right: 0;
  width: 30px;
  height: 40px;
  margin-right: 0;
  background-color: #c4dcff;
  line-height: 35px;
  text-align: center;
}

.bar-header-secondary ~ .content .nav-control.affix-top {
  margin-top: -1px;
  border-bottom: 1px solid #bec2ce
}
.bar-header-secondary ~ .content .nav-control.affix {
  top: 82px;
  border-bottom: none;
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);
}
