/*app-tablet.css*/
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 23px;
  }
}



/*전용 아이콘 폰트*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90a";
}
.icon-dot-01:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-down-nav:before {
  content: "\e902";
}
.icon-up-nav:before {
  content: "\e903";
}
.icon-left-nav:before {
  content: "\e904";
}
.icon-right-nav:before {
  content: "\e905";
}
.icon-qrcode:before {
  content: "\e906";
}
.icon-bars:before {
  content: "\e907";
}
.icon-power-off:before {
  content: "\e908";
}
.icon-simbol:before {
  content: "\e909";
}
.icon-info:before {
  content: '\e82c';
}
.icon-window-half:before {
  content: "\e912";
}
.icon-window-full:before {
  content: "\e911";
}
.icon-check2:before {
  content: "\e913";
}
.icon-car:before {
  content: "\e915";
}
.icon-home2:before {
  content: "\e917";
}

.collapsed .icon-up-nav:before {
  content: "\e902";
}

.icon-rc {
  font-family: Ratchicons !important;
}

body {
  background-color: #f0f0f4;
}

/*grid*/
.row {
  margin-left: -.2173rem !important;
  margin-right: -.2173rem !important;
}
[class^="col-lg-"],[class*=" col-lg-"],
[class^="col-md-"],[class*=" col-md-"],
[class^="col-sm-"],[class*=" col-sm-"],
[class^="col-xs-"],[class*=" col-xs-"] {
  padding-right: .2173rem !important;
  padding-left: .2173rem !important;
}


#hd-menu::after {
  content: "메뉴"
}

@media (max-width: 639px) {
  #hd-menu::after {
    content: ""
  }
 #map-open-half {
   display: none
 }
 #map-open-full {
  border-bottom-left-radius: .125rem;
  border-top-left-radius: .125rem;
 }
}

.bar-nav .btn-outline-secondary {
  color: #fff;
  border-color: #5597e0;
}

.bar-nav .btn {
  position: relative;
  top: 0.33rem;
  padding: 0 .75rem;
  font-size: 1rem;
  line-height: 1.5rem
}

.hd-buttons .btn {
  position: relative;
  top: 0;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.125rem;
}

@media (max-width: 768px) {
  .hd-buttons .btn {
    top: 0;
    padding: .3rem 0 !important;
    font-size: .9rem !important;
  }
}

.bar-nav .btn .icon {
  position: relative;;
  top: .1739rem;
  font-size: 1.8rem;
  color: #fff
}
.bar-nav .btn .hd-label {
  position: relative;
  top: -.2173rem
}

.bar-nav .btn-outline-secondary:active,
.bar-nav .btn-outline-secondary.active,
.bar-nav .btn-outline-secondary:focus,
.bar-nav .btn-outline-secondary.focus {
  background-color: #105fb7;
  border-color: #105fb7;
}


.bar-footer {
  height: 3.75rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
@media (max-width: 768px) {
  .bar-footer {
    height: 2.75rem;
  }
}
@media (max-width: 544px) {
  .bar-footer.hd-xs-2line {
    height: 5.2rem;
  }
  .bar-footer .btn {
    margin-bottom: .3125rem;
  }
  .snap-content .content {
    padding-bottom: 5.2rem !important;
  }
}


.bar-footer, .bar-footer-secondary,
.bar-footer-secondary-tab {
    border-top: 0;
    border-bottom: 0;
}


.bar-footer .btn {
  padding: 0.75rem 0;
  font-size: 1rem;
  border-radius: 0.125rem;
}
.bar-footer .btn-lg {
  padding: 0.75rem 2.5rem;
}

.content,
.bar-footer {
  background-color: #f0f0f4
}
.content-padded {
    margin: 0.9375rem;
}


/*button*/

.btn-primary,
.btn-secondary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-primary {
  background-color: #3a444d;
  border-color: #3a444d;
  color: #fff !important
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
  background-color: #2e363e;
  border-color: #2e363e;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
  color: rgba(255,255,255,0.2) !important
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #3a444d !important;
}

.btn-secondary {
    color: #fff;
    background-color: #848896;
    border-color: #848896;
}
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #fff;
  background-color: #6a6d78;
  border-color: #6a6d78;
}


/*table*/
.table th,
.table td {
  padding: 0.43rem 0.5rem;
  border: 0.043rem solid #ccc;
}
.table-bordered th {
  background-color: #e6e6ea;
  text-align: center;
  vertical-align: middle;
  color: #666666;
  font-weight: normal;
  white-space: nowrap;
}
.table td {
  background-color: #fff;
  vertical-align: middle;
}

/*.hd-table-01*/
.table.hd-table-01 th,
.table.hd-table-01 td {
  /*border-left: 0;*/
  /*border-right: 0*/
}

/*.hd-table-02*/
.table.hd-table-02 thead th {
  border-bottom: 0.0625rem solid #ccc;
  border-left: 0;
  border-right: 0
}
.table.hd-table-02 thead th:first-child {
  border-left: 0.0625rem solid #ccc
}
.table.hd-table-02 thead th:last-child {
  border-right: 0.0625rem solid #ccc
}

.table-bordered.hd-table-02 tbody tr:active {
  border: .125rem solid #74a9e3
}
.table-bordered.hd-table-02 tbody tr:active th,
.table-bordered.hd-table-02 tbody tr:active td {
  background-color: #f4f8fd !important;
}

.table-bordered.hd-table-02 tbody th {
  color: #1c74d5;
  background-color: #fff
}
.table-bordered.hd-table-02 td {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}
.table-bordered.hd-table-02 td.detail {
  text-align: left;
}

.table-unit {
  text-align: right;
  padding-bottom: .3rem;
  font-size: .85rem;
  color: #666666
}


/*popup*/

.popup {
  width: 70%;
  /*max-width: 830px*/
}

.popup .content {
  min-height: 100px
}

.popup .popup-content,
.popup .content {
  border-radius: 0
}
.popup .btn-block {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  font-size: 1.125rem;
  border-radius: 0.125rem;
}

.popup .btn-primary {
  background-color: #1c74d5;
  border-color: #1c74d5
}


/*process*/
.flexer, .progress-indicator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.progress-indicator {
  margin: 1rem 0 1rem 2rem;
  padding: 0;
  font-size: .9rem;
}
.flexer-element, .progress-indicator > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}
.progress-indicator > li {
    list-style: none;
    /*text-align: center;*/
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbbbbb;
    display: block;
    padding-top: 40px;
    text-indent: -3px
}
.progress-indicator > li.completed,
.progress-indicator > li.active {
    color: #1c74d5;
}
.progress-indicator > li .bubble {
  border-radius: 50px;
  width: 1.304rem;
  height: 1.304rem;
  background-color: #fff;
  display: block;
  margin: -4px 0 0.5em 0;
  border: 4px solid #b9b9b9;
  position: absolute;
  left: 0;
  top: 0
}

.progress-indicator > li .icon-check2 {
  position: absolute;
  top: -1px;
  left: 7.5px;
  color: #b9b9b9;
  font-size: 1.2rem;
}
.progress-indicator > li .icon-check2:before {
  content: "\e905";
}
.progress-indicator > li.completed .icon-check2 {
  color: #fff;
}
.progress-indicator > li.completed .icon-check2:before {
  content: "\e913";
}

.progress-indicator > li .time {
  position: absolute;
  top: -1.086rem;
  left: 50%;
  width: 2.173rem;
  text-align: center;
  color: #666;
  font-size: .9rem;
  margin-left: -.4rem
}

.progress-indicator > li.completed .bubble {
    background-color: #1c74d5;
    color: #1c74d5;
    border-color: #1c74d5;
}

.progress-indicator > li.active .bubble {
  width: 2.60rem;
  height: 2.60rem;
  margin-top: -.8695rem;
    margin-left: -.625rem;
  background-color: #fff;
  color: #1c74d5;
  border-color: #1c74d5;
}
.progress-indicator > li.active .icon {
  width: 2.200rem;
  height: 2.200rem;
  border-radius: 100px;
  margin-top: -.6521rem;
  margin-left: -.69rem;
  background-color: #fff;
  color: #1c74d5;
  line-height: 2.260rem;
  text-align: center;
  font-size: 1.5rem;
  border-color: #1c74d5;
}
.progress-indicator > li.active .icon::before {
  text-indent: -2px;
  content: '\e915';
  font-size: 2rem
}

.progress-indicator > li:before {
    display: block;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #b9b9b9;
}
.progress-indicator > li .bubble:before {
    left: 0;
}
.progress-indicator > li .bubble:after {
    right: 0;
}

.progress-indicator > li:last-child:before,
.progress-indicator > li:last-child:after {
  display: none;
}

.progress-indicator > li.completed:before {
    background-color: #1c74d5;
    border-color: #1c74d5;
}

/*hd-message*/
.hd-message {
  margin-bottom: .3rem;
  font-size: .85rem;
  line-height: 1.5rem
}
.hd-message .media-left {
    padding-right: 5px;
}
.hd-message .hd-info,
.hd-message .hd-info .icon {
  color: #1c74d5;
}
.hd-message .hd-num {
  text-align: right;
  color: #666
}


/*hd-card-group*/

.hd-card-group {
  margin-bottom: .2173rem;
  margin-left: -.1086rem;
  margin-right: -.1086rem;
}
.hd-card-group [class^="col-"] {
  padding-right: .1086rem;
  padding-left: .1086rem;
  padding-bottom: .1086rem;
}
.hd-card-group .btn{
  padding: 0.7375rem 0;
  padding-left: 1rem;
  text-align: left;
}

.hd-card-group .btn .media {
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.hd-card-group .btn .media-left {
    padding-right: 15px;
}
.hd-card-group .btn .media-body {
   vertical-align: middle;
   line-height: 1.4rem;
}

@media (max-width: 543px) {
  .hd-card-group .btn .media-left {
    padding-right: 7.5px;
  }
  .hd-card-group .btn .media-left .media-object {
    width: 45px
  }
}

.hd-noti {
  background-color: #fff;
  border: 1px solid #ccc
}
.hd-noti .btn-primary {
  background-color: #1c74d5;
  border-color: #1c74d5
}


/*지도열기*/

#map-view {
  width: 100%;
  height: 100%
}

.snapjs-left .snap-content {
  /*width: calc(100% - 640px);*/
}

.snap-drawer-left .bar-nav {
  top: 2.75rem;
  border-bottom: none
}

.snap-drawer-left .bar-nav .btn {
  padding: .1rem .45rem;
  border-radius: 100%;
  background-color: rgba(58, 68, 77, 0.9);;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.snap-drawer-left .bar-nav .content {
  top: 4.75rem;
}

.snap-content .content {
  padding-top: 2.75rem !important;
}

.snap-drawer {
  width: 27.82rem;
}

.snapjs-left #map-open-half {
  background-color: #105fb7;
  border-color: #5597e0;
}
.snapjs-left #map-open-full {
  background-color: transparent;;
  border-color: #5597e0;
  /*border-left: none*/
}

.snapjs-expand-left #map-open-half {
  background-color: transparent;;
}
.snapjs-expand-left #map-open-full {
  background-color: #105fb7;
}
#map-open-half,
#map-open-full {
  background-color: transparent;;
  border-color: #5597e0;
}

#map-open-full {
  margin-left: -1px
}

.snapjs-left .hd-buttons .btn,
.snapjs-expand-left .hd-buttons .btn {
  /*display: block;*/
  /*width: 100%;*/
  /*padding: 0.75rem 0;*/
  /*font-size: 1rem;*/
  /*border-radius: 0.125rem;*/
}


/*지도영역*/

#map .bar-footer ~ .content {
  padding-bottom: 0;
}
@media (min-width: 641px) {
  #map .bar-footer {
    height: 86px
  }
}
#map .bar-footer .table {
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1rem;
  border-color: #303840;
}
#map .bar-footer .table td {
  background-color: rgba(58, 68, 77, 0.9);;
  color: #fff;
  border-color: #303840;
  font-weight: normal;
  font-size: .8rem
}
#map .bar-footer .table td[rowspan="2"] {
  line-height: 1.6
}


/*utility*/
.spacing-m1 {
  letter-spacing: -.0625rem !important;
}
.spacing-m2 {
  letter-spacing: -.125rem !important;
}
.nowrap {
  white-space: nowrap;
}
.line-clamp-1 {
  line-clamp: 1 !important;
  -webkit-line-clamp: 1 !important;
}
.line-clamp-2 {
  overflow: hidden;
  /*display: box;*/
  /*display: -webkit-box;*/
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-clamp: 2 !important;
  -webkit-line-clamp: 2 !important;
}
.line-clamp-3 {

  line-clamp: 3 !important;
  -webkit-line-clamp: 3 !important;

}
.none-line-clamp {
          line-clamp: 100 !important;
  -webkit-line-clamp: 100 !important;
}

/*popup*/

@media (min-width: 768px) {
  .popup.popup-lg {
    max-width: 980px;
    min-width: 320px;
    width: 100%
  }
  .popup.popup-lg .content {
      min-height: 210px;
      max-height: 650px;
      border-top: 0;
      border-bottom: 0;
      border-radius: 0;
  }
}

.popup .bar-nav {
  border-bottom: 2px solid #000;
  background-color: #fff
}
.popup .title {
  font-weight: 700
}
.popup .bar-footer {
  height: 3rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  background-color: #fff;
  border-top: none
}
.popup .bar-footer ~ .content {
  padding-bottom: 3rem;
}
.popup .bar-footer .btn {
   font-size: 1rem;
}
.popup .btn-secondary {
  color: #444;
  background-color: #fff;
  border-color: #848896;
  box-shadow: none
}
.popup .content .table {
  margin-bottom: 0
}

/*로그인*/
.hd-login.tm-login .content {
  background-image: url(../img/login-tm-bg.png);
}

.hd-login .hd-logo h1 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: .15rem solid #fff;
  width: 10.5rem;
}
.hd-login .hd-logo img {
    width: 10rem;
}

.hd-login.tm-login .card {
  margin: 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 .5rem 1.375rem 0 rgba(0,0,0,0.2), 0 .375rem 1.25rem 0 rgba(0,0,0,0.19);
}

.hd-login.tm-login .card-header {
  padding: 0;
  background-color: #fff;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom: .0625rem solid #d8dce2
}

.hd-login.tm-login .card-header .nav {
  position: relative;
  margin: 0 auto;
  display: table;
}
.hd-login.tm-login .card-header .nav-inline .nav-link.active {
  color: #0275d8;
}
.hd-login.tm-login .card-header .nav-inline .nav-link {
  position: relative;
  display: table-cell;
  width: 1%;
  overflow: hidden;
  padding: 0.9rem 0;
  line-height: 1.5;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #626470;
  font-size: 1rem;
  letter-spacing: -.0625rem
}
.hd-login.tm-login .card-header .nav-inline .nav-link.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .2rem;
  background-color: #0275d8;
  content: '';
}

.hd-login.tm-login .card-footer {
  border-top: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.hd-login.tm-login .card-footer .btn {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}


/*엑티브 가로화면 */
@media (min-width: 962px) {


  .hd-login.tm-login .hd-col-logo {
    display: block
  }
  .hd-login.tm-login .hd-logo {
    display: block;
  }
  .hd-login.tm-login .card {
    margin: 2.5rem 2rem 2rem
  }
  .hd-login.tm-login .hd-logo {
    padding-left: 3.5rem
  }
  .hd-login.tm-login small,
  .hd-login.tm-login .small {
    font-size: 50%;
    font-weight: normal;
  }
  .hd-login.tm-login .hd-col-login .hd-logo2 {
    display: none
  }
  .hd-login.tm-login .card {
    margin: 2rem
  }
  .hd-login.tm-login .hd-logo2 {
    margin: 2rem auto;
  }
  .hd-login.tm-login .hd-logo2 img {
    width: 7rem
  }
}

/*엑티브 세로화면*/
@media (min-width: 602px) and (max-width: 961px) {
  .hd-login.tm-login .hd-col-logo {
    display: none
  }
  .hd-login.tm-login .hd-col-login .hd-logo2 {
    display: block;
    margin: 2rem auto;
  }
  .hd-login.tm-login .card {
    margin: 2rem
  }
  .hd-login.tm-login .hd-logo2 {
    margin: 1rem auto;
  }
  .hd-login.tm-login .hd-logo2 img {
    width: 7rem
  }
  .hd-login.tm-login.active .hd-logo2 {
    display: none
  }
}


/*스마트폰 구간*/
@media (max-width: 601px) {
  .hd-login.tm-login .hd-col-logo {
    display: none
  }
  .hd-login.tm-login .card {
    margin: 1rem;
  }
  .hd-login.tm-login .hd-logo2 {
    margin: 1rem auto;
  }
  .hd-login.tm-login .hd-logo2 img {
    width: 7rem
  }
  .hd-login.tm-login .card-header .nav-inline .nav-link {
    font-size: 1rem;
  }
  .hd-login.tm-login.active .hd-logo2 {
    display: none
  }
}
.hd-intro-wrap {
  width: 70%;
  margin: 0 auto
}
@media (min-width: 1200px) {
  .hd-intro-wrap {
    width: 50%;
  }
}
.hd-login.tm-login .card.hd-intro h1 img {
  width: 10rem;
}
