@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 26px;
  }
}


.bg-sky {
  background-color: #d5e6ff
}

.form-control[readonly] {
  background-color: #fff;
}


.bar-header-secondary {
  height: 3.5625rem;
  border-bottom: .0625rem solid #d8dce2;
}

.bar-header-secondary .form-inline label {
  margin-bottom: 0;
  color: #626470;
  /*line-height: 3.5rem*/
}

.bar-header-secondary .form-inline .btn {
  height: 2.3rem;
  background-color: #3a444d !important;
  border-color: #3a444d !important;
  border-radius: 0
}

.nav-control .nav-link {
  position: relative;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1rem;
  line-height: 1rem;
  border-left: none;
  background-color: #fff;
  color: #626470 !important
}
.nav-control .nav-link.active {
  color: #1c74d5 !important
}

.nav-control .nav-link.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1875rem;
  background-color: #0275d8;
  content: '';
}

.bar-header-secondary {
  text-align: center;
  line-height: 3.5625rem;
}

@media (max-width: 640px) {
  .bar-header-secondary {
    line-height: 2.5625rem;
  }
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .bar-header-secondary {
    text-align: left;
    line-height: 2.5rem;
  }
  .form-inline .form-group {
    line-height: 2.5rem;
  }
}


.bar-header-secondary .btn {
  top: 0;
  line-height: 1rem;
}
.bar-header-secondary ~ .content {
    padding-top: 6.36rem;
}

.content .nav-control {
  margin-top: -.0625rem;
  border-left: none;
  border-right: none
}


/*table*/

.table.hd-data {
  margin-top: .5rem;
  margin-bottom: 0;
  background-color: #fff
}
.hd-data.table-bordered {
  border: 0.0625rem solid #b4b8c4;
}
.hd-data.table-bordered thead th,
.hd-data.table-bordered thead td {
  border-bottom-width: 0.0625rem;
  border-color: #b4b8c4;
  vertical-align: middle;
}
.hd-data.table-bordered td {
  border: 0.0625rem solid #d8dce2;
}
.hd-data.table-bordered th, .table-bordered td {
  border: 0.0625rem solid #d8dce2;
}
.hd-data.table th {
  background-color: #d4d6e4;
  text-align: center;
  color: #626470;
  vertical-align: middle !important;
  white-space: nowrap;
}
.hd-data.table tbody td {
  /*background-color: #fff;*/
  text-align: right;
  vertical-align: middle;
  min-width: 4.5rem;
}
.hd-data.table .bg-white th {
  /*background-color: #fff;*/
  color: #333
}
.hd-data.table th,
.hd-data.table td {
  padding: 0.75rem 0.75rem ;
  vertical-align: top;
  border-top: 0.0625rem solid #eceeef;
  font-weight: normal;
}
.hd-data.table tr.table-active td {
  background-color: #f0f4fb;
  text-align: center;
}

.hd-data.table [scope="row"] {
  border-right: .0625rem solid #b4b8c4;
  border-bottom: .0625rem solid #b4b8c4
}

.hd-data.table .hd-time td {
  text-align: center;
  font-size: .9rem;
}

.hd-data.table tr.text-xs-center td {
  text-align: center !important
}

.hd-data.table tbody tr {
  counter-increment: Serial;
}
.hd-data.table tbody th.hd-serial:before {
  content: counter(Serial); /* Display the counter */
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f0f4fb;
}
.hd-data.table .bg-white th,
.hd-data.table .bg-white td {
  background-color: #fff
}
/*popup*/
@media (max-width: 640px) {
  ..hd-datapopup .content {
    min-height: 100px;
    max-height: 300px;
  }
}
.popup .bar.bar-nav {
  border-bottom: .0625rem solid #000;
}

.popup .table td {
  text-align: center;
}
.popup .table td:active {
  background-color: #f4f8fd;
  border: .125rem solid #74a9e3
}

@media (max-width: 580px) {
  .popup.popup-sm .content {
    max-height: 300px;
  }
}
.popup .tab-item.bg-secondary {
  background-color: #848896;
  color: #fff !important
}

/*bar-tab*/
.bar-tab .tab-item {
  color: #999 !important;
}
.bar-tab .tab-item.active {
  color: #fff !important;
}

/*form-control*/
.form-control.hd-md {
  width: 230px
}
.form-control.hd-sm {
  width: 100px
}

@media (max-width: 640px) {
  .form-control.hd-md {
    width: 125px
  }
  .form-control.hd-sm {
    width: 70px
  }
}

/*utility*/

.text-black {
  color: #333 !important
}

.m-l-default {
  margin-left: .625rem
}
.m-r-default {
  margin-right: .625rem
}
.m-x-default {
  margin-left: .625rem;
  margin-right: .625rem
}
.m-t-default {
  margin-top: .625rem
}
.m-b-default {
  margin-bottom: .625rem
}
.m-y-default {
  margin-top: .625rem;
  margin-bottom: .625rem
}
