html {
    font-size: 16px;
}
body {
  /*font-family: "Roboto", sans-serif;*/
  color: #333;
}


/*전용 아이콘 폰트*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jv7rdg');
  src:  url('../fonts/icomoon.eot?jv7rdg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jv7rdg') format('truetype'),
    url('../fonts/icomoon.woff?jv7rdg') format('woff'),
    url('../fonts/icomoon.svg?jv7rdg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90a";
}
.icon-dot-01:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-down-nav:before {
  content: "\e902";
}
.icon-up-nav:before {
  content: "\e903";
}
.icon-left-nav:before {
  content: "\e904";
}
.icon-right-nav:before {
  content: "\e905";
}
.icon-qrcode:before {
  content: "\e906";
}
.icon-bars:before {
  content: "\e907";
}
.icon-power-off:before {
  content: "\e908";
}
.icon-simbol:before {
  content: "\e909";
}


.collapsed .icon-up-nav:before {
  content: "\e902";
}


/*theme*/

.hd-sub-01 .bar-header-secondary {
  border-bottom: none
}
.hd-sub-01 .container {
  background-color: #fff
}


@media (max-width: 543px) {
  .container {
    padding: .655rem;
  }
}
@media (min-width: 544px) {
  .container {
    max-width: 100% !important
  }
}


/*color*/
.bg-primary,
.btn-primary {
    background-color: #1C74D5 !important;
}

.bg-white {
  background-color: #fff
}
.btn-primary {
  border-color: #0275d8;
}
.btn-secondary {
    color: #fff;
    background-color: #848896;
    border-color: #848896;
}
.btn-white {
  color: #666;
  background-color: #fff;
  border-color: #b4b8c4;
}
.text-danger {
  color: #f22258 !important
}
.badge-default.badge-inverted {
    color: #9a9eac;
    font-weight: 300
}


.navigate-left:after,
.navigate-right:after,
.push-left:after,
.push-right:after {
  position: absolute;
  top: 50%;
  display: inline-block;
  font-family: 'icomoon';
  font-size: 1.4rem;
  line-height: 1;
  color: #bbb;
}
.navigate-right:after,
.push-right:after {
    right: .9375rem;
    content: '\e905';
}

/*navigate-custom*/
.navigate-right.navigate-custom:after {
    content: '\e903';
}
.collapsed .navigate-right.navigate-custom:after {
    content: '\e902';
}

/*bar*/
.bar.bar-nav {
  height: 2.8125rem;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.075);
}

.title.left {
  position: static;;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.9rem;
  text-align: left;
  letter-spacing: -.0625px
}
.bar-nav .icon {
  padding-top: .525rem;
  padding-bottom: .525rem;
  font-size: 1.8rem;
  color: #373a3c;
  text-align: center
}
.bar-nav .icon:active {
  background-color: #025aa5
}

.bar .icon.pull-left {
  width: 2.5rem
}
.bar .icon.pull-right {
  padding-left: .5625rem;
  padding-right: .5625rem;
}
.bar-dark .btn-link {
  padding-left: .625rem;
  color: rgba(255, 255, 255, 1);
}
.bar-dark .btn-link .icon {
  padding-right: .3125rem
}

/* Secondary bar*/
.bar-header-secondary {
  top: 2.8125rem;
  height: 2.34375rem;
  background-color: #fff
}
.bar-header-secondary .btn {
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: -.0625px
}
.bar-header-secondary .btn .icon-left-nav {
  top: .3rem;
  left: .3rem;
  width: 2.7rem;
  color: #848896
}

/*Tab bar*/
.bar-tab .tab-item {
  height: inherit;
  /*font-size: .78125rem;*/
  background-color: #3A444D;
  border-right: 0.0312rem solid #303840;
  letter-spacing: -.5px;
  line-height: 2.6875rem;
  color: #fff !important
}
.bar-tab .tab-item:last-child {
  border-right: none
}

.bar-tab.bar-dark .tab-item {
    color: #fff;
}

/*footer*/
.bar-footer {
 background-color: #fff;
 color: #999;
 font-size: .7rem;
 text-align: center;
 line-height: 2.8125rem;
}


/*card*/
.card {
  margin: 1.25rem;
  margin-bottom: 0.75rem;
  background-color: #fff;
  /*border-radius: 0.25rem;*/
  /*border: 1px solid #b4b8c4;*/
  border-top: 1px solid #b4b8c4
}

.card.card-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  border-left: none;
  border-right: none
}
.card.card-medium {
  margin: .625rem
}

/**
 * search
 * ----------------------------------------------------------------------------
 */

.card.hd-search .card-header,
.card.hd-search .card-footer {
  background-color: #fff
}

.card.hd-search .card-header {
  padding: 0.75rem .9375rem;
}

.card.hd-search .card-header .ellipsis {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card.hd-search dl {
  margin-bottom: 0;
  font-weight: normal;
  font-size: .875rem
}
.card.hd-search dt {
  margin-left: -5px;
  color: #626470;
  font-weight: 300;
  letter-spacing: -.5px;
  white-space: nowrap;
}
.card.hd-search dt:before {
  padding-right: 5px;
  content : "·";
  color: #9a9eac
}

.card.hd-search dd {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.card.hd-search .badge-inverted {
  font-size: 95%;
  font-weight: normal;
}


.card.hd-search .table {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.card.hd-search .table td  {
  padding: 0.4rem;
  border: none
}
.card.hd-search .table td .card {
  margin: 0;
  background-color: #d5e6ff;
  border: none;
  padding: .625.rem
}
.card.hd-search .table td .card-block {
  padding: .625rem
}

/* card-full */
.card.card-full {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card.card-full .card-footer{
  background-color: transparent;
}

.card.hd-search .nav-control {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: .75rem;
  font-weight: 400;
  background-color: #eceeef;
  border: 0.0625rem solid #ccc;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0
}
.card.hd-search .nav-control .nav-link {
  padding-top: .7rem;
  padding-bottom: .7rem;
  overflow: hidden;
  line-height: 1;
  background-color: #fff;
  color: #626470;
  border-left: 0.0625rem solid #ccc;
  font-size: 1rem
}
.card.hd-search .nav-control .nav-link:first-child {
  border-left: 0
}
.card.hd-search .nav-control .nav-link:active {
  background-color: #eceeef;
  color: #818a91;
}
.card.hd-search .nav-control .nav-link.active {
  background-color: #fff;
  color: #55595c;
}


/*search result*/
.card.hd-search-result {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card.hd-search-result .card-header {
  padding: 0;
  color: #626470;
  font-weight: 300;
  border-bottom: none
}

.card.hd-search-result .card-header .meta {
  font-size: .875rem
}
.card.hd-search-result .card-header .meta-site {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.card.hd-search-result .card-block {
    padding: 0 .625rem;
}
.card.hd-search-result .card-block .card-block-inner {
  padding: .9375rem .3125rem;
  border-top: 1px dotted #d8dce2;
  border-bottom: 1px solid #d8dce2;
}
.card.hd-search-result .collapsed ~ .card-block .card-block-inner {
  border-bottom: none
}


.card.hd-search-result .card-block .card-block-inner:first-child {
  /*border-top: 0*/
}
.card.hd-search-result .card-block .card-block-inner:last-child {
  /*border-bottom: 0*/
}


.card.hd-search-result .card-block .card-text {
  overflow: hidden;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card.hd-search-result .card-footer {
  border-top: none;
}
.card.hd-search-result .card-footer dd {
  margin-left: -15px;
  margin-bottom: 0;
  overflow: hidden;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


/*search-detail*/
.card.hd-search-detail {
  margin: .625rem;
  border: .0625rem solid #9a9eac
}
.card.hd-search-detail .card-block {
  padding: .625rem 1.25rem;
}
.card.hd-search-detail .card-block + .card-block {
  border-top: .0625rem solid #d8dce2
}
.card.hd-search-detail .card-footer {
  padding: 0;
  color:#626470;
  border-top: 1px dotted #d8dce2;
  font-weight: 300
}
.card.hd-search-detail .meta {
  font-size: .875rem
}
.card.hd-search-detail .meta-site {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}




/*table-view*/
.table-view {
  border-top: 0.0625rem solid #b4b8c4;
  border-bottom: 0.0625rem solid #b4b8c4;
}

.table-view-divider {
  padding-top: .8rem;
  padding-bottom: .8rem;
  margin-left: 0;
  font-weight: 500;
  color: #999;
  background-color: #fff;
  border-top: .0625rem solid #b4b8c4;
  border-bottom: .09375rem solid #d8dce2;
}

.table-view-cell a {
  line-height: 1.3;
  font-weight: 300;
  max-height: 200px;
}
.table-view-cell .hd-meta{
  margin-bottom: 2px
}
.table-view-cell .hd-meta span {
  line-height: 1rem
}

.table-view-cell .hd-title {
  overflow: hidden;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  /*max-height: 2.625rem;*/
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


/*badge*/
.badge.badge-outline {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 10rem;
  background-color: transparent;
  font-weight: 300
}
.badge-primary.badge-outline {
  color: #74a9e3;
  border: 1px solid #74a9e3;
  border-radius: 20px
}

/*utility*/
.borderBottomNone {
  border-bottom: none;
}


.bar-dark .icon {
  color: rgba(255, 255, 255, 1);
}
.bar .btn:focus,
.bar .btn.focus,
.bar .btn:active:focus,
.bar .btn:active.focus,
.bar .btn.active:focus,
.bar .btn.active.focus {
  outline: none;
}



/**
 * footer
 * ----------------------------------------------------------------------------
 */

.bar-footer .copyright {
  position: absolute;
  left: 0;
  right: 0;
  padding: 17px 0;
  font-size: 11px;
  text-align: center;
}

/**
 * forms
 * ----------------------------------------------------------------------------
 */

.container {
  background-color: #fff
}

input.form-control {
  text-align: center;
}

/*input-group*/
.input-group-btn > .btn {
  /*padding: 0.32rem 0.75rem;*/
}

/*form-group*/
.form-group {
    margin-bottom: .5rem;
}
.form-group .col-form-label {
  color: #626470;
  font-weight: 300
}

.form-group .col-form-label:before {
  padding-right: 5px;
  content : "·";
  color: #9a9eac
}
 .form-group .col-form-label.required::after {
   padding-left: 5px;
   content : "*";
   color: red;
 }

/*input-group-select*/

.input-group-addon.input-group-select {
  position: relative;
  padding: 0;
  border-radius: 0
}
.input-group-addon.input-group-select select {
  padding: 0.4rem 2rem 0.4rem 0.3rem;
  font-size: .85rem;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group-addon.input-group-select:after {
    position: absolute;
    top: 50%;
    right: .625rem;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}
.input-group-addon.input-group-select select:not([size]):not([multiple]) {
    height: 2.25rem;
}

.hd-search-filter .input-group-btn:not(:first-child) > .btn {
  margin-left: 5px;
  background-color: #3a444d
}






/**
 * content
 * ----------------------------------------------------------------------------
 */


 .icon.icon-search {
   font-size: 1rem
 }

.hd-section {
  margin: 0.625rem;
}

.hd-section p {
  padding-left: .9375rem;
  font-size: .875rem;
  color: #9a9eac
}
.hd-heading:before {
  padding-right: .312rem;
  font-family: 'icomoon' !important;
  content: "\e900";
  color: #626470;
}

h5.hd-heading {
  margin-top: 1.5rem;
  font-size: 1rem;
}

 .bar-header-secondary ~ .content {
    padding-top: 5.2rem;
}

.content {
  background-color: #eeeef2;
}

.modal .content {
  background-color: #fff
}


p {
  line-height: 1.2
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.spacing-m1 {
  letter-spacing: -.0625rem !important;
}
.nowrap {
  white-space: nowrap;
}


/*button*/

.btn-group .col-xs-6 + .col-xs-6 {
  padding-left: 0;
}

.btn-block-sm {
  padding: 0.4375rem 0.5rem;
}

/*input-group*/
.input-group-btn {
  /*padding-left: .3125rem;*/
}

/*form grid*/
.row .form-control {
  margin-bottom: 0
}
.row .form-control[type="date"] {
  padding: .5rem;
  letter-spacing: -1px;
  font-size: .95rem
}

/*date-term*/


.hd-term:after {
    content: "";
    display: table;
    clear: both;
}
.hd-term .form-control {
  margin-bottom: 0;
  letter-spacing: -.0625rem
}
.hd-term .hd-term-item {
  position: relative;
  min-height: 1px;
  float: left;
  width: 39.5%;
}
.hd-term .hd-term-divider {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  float: left;
  width: 5%;
  min-height: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}
.hd-term .hd-term-divider:before {
  content: "~";
  color: #999
}
.hd-term .hd-term-btn  {
  position: relative;
  min-height: 1px;
  padding-left: 2%;
  float: left;
  width: 13%;
}
.hd-term .hd-term-btn .btn {
  /*margin-left: -15px;*/
  padding: 0.54rem;
  font-size: 1rem;
  line-height: 1.25
}




/*floating button*/
.floating {
    box-sizing: border-box;
    margin: 15px 15px 60px 15px;
    position: fixed;
    white-space: nowrap;
    z-index: 16;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.floating-br {
    right: 0;
    bottom: 0;
}
.btn-circle-primary {
    height: 3.125rem;
    min-width: 3.125rem;
    width: 3.125rem;
}
.floating .icon-search {
  font-size: 1.8rem
}



/**
 * intro
 * ----------------------------------------------------------------------------
 */

.hd-intro .content {
  background-color: #fff
}
.hd-intro .cover-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.hd-intro .cover-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.hd-intro .cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hd-intro .hd-loader {
  width: 75%;
  margin: 40px auto 0;
  text-align: center;
}
.hd-intro .hd-loader .progress {
  margin-bottom: .5rem
}
.hd-intro .hd-loader small {
  color: #999
}

.hd-intro .cover-inner {
    padding: 0 1.5rem;
}
.hd-intro .bar-footer {
  height: 4rem;
  border-top: none
}
.hd-intro .bar-footer .list-inline {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}
.hd-intro .bar-footer .logo {
  height: 20px
}

/**
 * login
 * ----------------------------------------------------------------------------
 */


 .hd-login .bar-footer {
   background-color: transparent;
   color: #eee;
   font-size: .7rem;
   text-align: center;
   line-height: 2.8125rem;
 }

.hd-login .content {
  background-image: url(../img/login-bg.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.hd-login .content h1 {
  margin-top: -1rem;
  color: #fff;
  font-size: 200px
}

.hd-login .content-padded {
  padding: 1rem
}

.hd-login .card {
  margin: 1rem;
  margin-top: -5rem;
  border: none;
}

.hd-login .card-title {
  margin: .5rem auto 1.5rem;
}

.hd-login .card .form-control {
  background-color: #f4f4f4;
  text-align: left;
  border: none
}

.hd-login .card-footer {
  border: none;
  padding: 0
}

.hd-login .card-footer .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

/*rc 적용*/
.navigate-updown:after,
.navigate-updown:after,
.push-updown:after,
.push-updown:after {
  position: absolute;
  top: 50%;
  right: .9375rem;
  display: inline-block;
  font-family: 'icomoon';
  font-size: 1.4rem;
  line-height: 1;
  color: #bbb;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigate-updown:after,
.push-updown:after {
  content: '\e903';
}

.navigate-updown.collapsed:after,
.push-updown.collapsed:after {
  content: '\e902';
}


.collapse .table-view-cell:last-child {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.075);
}

.custom-radio .custom-control-input:checked ~ .custom-control-description {
  color: #1c74d5

}


/**
 * Components
 * ----------------------------------------------------------------------------
 */


/*popup*/

.popup  .bar.bar-nav {
  border-bottom: none
}
.popup  .bar.bar-nav .title {
  margin: 0;
  font-weight: 700
}
.popup .content {
  /*min-height: 150px;*/
  border-radius: 0;
  color: #626470
}
.popup .content-inner{
  margin: 0 1rem !important;
  border-top: 0.0625rem solid #3a444d;
}
.popup .bg-secondary {
  background-color: #848896
}
.popup .bar-tab .tab-item {
  border-right: none;
}

/**
 * Utillity
 * ----------------------------------------------------------------------------
 */

 .m-t-05 {
   margin-top: .5rem !important;
 }
.m-b-05 {
  margin-bottom: .5rem !important;
}

.line-clamp-1 {
  line-clamp: 1 !important;
  -webkit-line-clamp: 1 !important;
}
.line-clamp-2 {
  line-clamp: 2 !important;
  -webkit-line-clamp: 2 !important;
}
