/*header*/
.bar {
    height: 50px;
}
.bar .btn .icon {
  top:0;
  padding-top: 13px;
  padding-bottom: 13px;
}
.bar .title {
  position: static;
  padding-left: 95px;
  font-size: 18px;
  line-height: 49px;
  text-align: left;
}
.bar .title .logo {
  height: 25px
}
.bar .btn .logo {
  height: 20px
}
.bar-nav .btn-nav{
  width: 3.125rem;
  height: 50px
}
.bar-nav .btn-nav.logo{
  width: 100px;
}
.bar .btn-nav.pull-left{
  margin-left: -.625rem;
}
.bar .btn-nav.pull-right{
  margin-right: -.625rem;
}

/*footer*/
.bar-footer .copyright {
  position: absolute;
  left: 0;
  right: 0;
  padding: 17px 0;
  font-size: 11px;
  text-align: center;
}

/* intro */

.hd-intro {
  background-color: #fff
}
.hd-intro .cover-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.hd-intro .cover-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.hd-intro .cover-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hd-intro .hd-loader {
  width: 75%;
  margin: 40px auto 0;
  text-align: center;
}
.hd-intro .hd-loader .progress {
  margin-bottom: .5rem
}
.hd-intro .hd-loader small {
  color: #999
}

.hd-intro .cover-inner {
    padding: 0 1.5rem;
}
.hd-intro .bar-footer {
  height: 4rem;
  border-top: none
}
.hd-intro .bar-footer .list-inline {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}
.hd-intro .bar-footer .logo {
  height: 20px
}
